@font-face {
	font-family:'Libertine R';
	src:url(../fonts/LinLibertine_Re.ttf) format('truetype');
	}

@font-face {
	font-family:'Libertine C';
	src:url(../fonts/LinLibertine_C.ttf) format('truetype');
	}

@font-face {
	font-family:'Scriptorama';
	src:url(../fonts/Scriptorama.ttf) format('truetype');
	}
