@import url(fonts.css);

// Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none outside;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a, a:hover, a:visited {
  color:#900;
}

h1 {
    margin-bottom: 0.6em;
}

// Layout

body {
  background:#333;
  font-family: Libertine R;
  font-size:1.3em;
}

#content {
  width:46.4em;
  margin:0 auto;
  overflow:hidden;
}

#slides-refs {
  display:none;
}

#main-nav {
  margin:0 auto;
  width: 13em;
  background: black;
  border-radius:0 0 0.1em 0.1em;
  box-shadow: inset 0 -0.09em 0.1em #666;

  li {
    display:inline-block;
    padding: 0.4em 0 0.4em 1.4em;
    a {
      color:#666;
      text-decoration:none;
      &:hover {
        color:#999;
      }
    }
  }
  .active {
    a{
      color:#ccc;
      &:hover{
        color:#ccc;
      }
    }
  }
}

h1 {
 font-size: 2em;
 font-family: Libertine C;
 color:#900;
}

.cx-logo {
  font-family: Scriptorama;
  font-size: 4em;
  line-height: 0.5em;
}

.white {
  color: #fff;
}

.bigger {
  font-size: 1.4em;
}

#cover-text {
  margin: 2em 0 1em -2.1em;
  text-align:center;
  .bottom {
    margin-top:3.5em;
  }
}

#slides-nav {
  margin: 1em auto 0;
  text-align:center;
  font-size:1.2em;
  li {
    display:inline;
    padding: 0 0.1em;
    a {
      text-decoration:none;
      color:#000;
      text-shadow:0 0.06em 0.07em #666;
    }
    &.active a {
      color:#700;
    }
  }
}

#scrollable {
  position:relative;
  width:46.4em;
  overflow:hidden;
}

#slides {
  position:relative;
  width:9999999px;
}

.slide {
  float:left;
  width:19.3em;
  margin: 0.5em;
  height: 14.3em;
  padding: 1em 1em 1em 2em;
  font-size:2em;
  background: -moz-linear-gradient(-90deg, #fff, #666);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#666));
  background-color:#999;
  border-radius:0.1em;
  box-shadow: 0 0 0.5em #000;

  .loading {
    background:url(/img/loading.gif) center center no-repeat;
  }
  .not-found {
    background:#f00;
  }

  ul {

  }

  h1 {
    font-size: 1.6em;
  }
}

.container {
  position:relative;
  margin:3.3em auto;
  width: 41.7em;
  padding: 1em 1em 1em 2em;
  background: -moz-linear-gradient(-90deg, #fff, #ccc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
  background-color:#eee;
  border-radius:0.1em;
  box-shadow: 0 0 0.5em #000;


  .slides-refs {
    li {
      line-height: 1.5em;
      a {
        color:#666;
        font-size:1.1em;
      }
    }
  }
  .edit-ref {
    position:absolute;
    bottom:0.5em;
    right:0.5em;
  }
}